@{
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <title>AnimeFlV</title>
</head>
<body>
    <h2>Elegi donde entrar</h2>
    <a asp-controller="Genero" asp-action="Index">Generos</a>
    <a asp-controller="Genero" asp-action="Index">Alta Generos</a>

<br />
    <a asp-controller="Anime" asp-action="Index">Animes</a>
    <a asp-controller="Anime" asp-action="Index">Alta Animes</a>

</body>
</html>