@model IEnumerable<Otaku.Core.Capitulo> 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>capitulo</title>
</head>
<body>
    @foreach (Otaku.Core.Capitulo capitulo in Model)
    {
          <tr>
            <td>
                <a asp-controller="Capitulo" asp-action="Detalle" asp-route-id="@capitulo.Id">@capitulo.Nombre</a>
            </td>
        </tr>
    }
</body>
</html>