@model Otaku.Core.Genero
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Genero</title>
</head>
<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Nombre">Generos</label>
            <input asp-for="Nombre" />
        </div>
        <button type="submit">Generos+</button>
        <button type="submit">
        <a  asp-controller="Genero" asp-action="Index"> Volver atras </a>
        </button>
    </form>
</body>
</html>