@model Otaku.Core.Anime;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Mercado Simple - Detalle @Model.Nombre</title>
</head>
    <div>
        Nombre: @Model.Nombre<br>
        Genero: @Model.Genero<br />
    </div>