@model Otaku.Core.Anime;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Detalle @Model.Nombre</title>
</head>
<body>
    <h1>Detalle</h1>
    <div>
        <h3>@Model.Nombre</h3>
        Descripcion: @Model.Descripcion<br>
        Genero: @Model.Genero<br>
    </div>
    <button type="submit">
    <a  asp-controller="Juego" asp-action="Index">atras </a>
</button>
</body>
</html>