@model IEnumerable<Otaku.Core.Anime> 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes</title>
</head>
<body>
    @foreach (Otaku.Core.Anime anime in Model)
    {
        
    }
</body>
</html>